<!--値のリセット-->
<!--収入-->
<% earn = 0 %>
<!--支出-->
<% spend = 0 %>

<table class="table table-bordered">
  <tr>
    <td class="text-center align-middle" style="width:35%;">収入</td>
    <td class="text-center align-middle">
      <% incomes.each do |money| %>
        <% earn += money.price %>
      <% end %>
      <!--収入合計-->
      <%= earn.to_s(:delimited) %>
    </td>
  </tr>
  <tr>
    <td class="text-center align-middle">支出</td>
    <td class="text-center align-middle">
      <% spendings.each do |money| %>
        <% spend += money.price %>
      <% end %>
      <!--支出合計-->
      <%= spend.to_s(:delimited) %>
    </td>
  </tr>
  <tr>
    <td class="text-center align-middle">合計</td>
    <td class="text-center align-middle">
      <!--総合計-->
      <%= (earn - spend).to_s(:delimited) %>
    </td>
  </tr>
</table>
