<h1>Public::Customers#memory</h1>

<canvas id="lifeCycleChart" data-start-times="<%= @start_times.to_json %>" data-end-times="<%= @end_times.to_json %>"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="/assets/life_cycle.js"></script>
