<div class="container">
  <div class="row">
    <div class="col text-center mt-5">
      <h5 class="font-weight-bold mb-5 mt-5">本当に退会しますか？</h5>
      <div>
        <%= link_to "退会しない", customers_mypage_path, class: "btn btn-primary" %>
        <%= link_to "退会する", customers_drop_path, method: :patch, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
