<div class="container my-5">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto">
      <div class="d-flex justify-content-center">
        <h3 class="bg-light"><strong>お知らせ一覧</strong></h3>
      </div>

      <table class="table table-hover my-3">
        <thead class="table-active">
          <tr>
            <th style="width:30%;">発信日</th>
            <th>タイトル</th>
          </tr>
        </thead>
        <tbody>
          <% @news_index.each do |news| %>
            <tr>
              <td class="align-middle">
                <%= news.created_at.strftime('%Y/%m/%d') %>
              </td>
              <td>
                <%= link_to news.title, news_path(news.id), class:"btn btn-outline-secondary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="d-flex justify-content-center mt-5">
        <%= paginate @news_index %>
      </div>

    </div>
  </div>
</div>
