<h1>Public::Blogs#show</h1>


<ul>
  <li><%= @blog.date %></li>
  <li><%= @blog.title %></li>
  <% if @blog.image.present? %>
    <li><%= image_tag @blog.image, size:'200x200' %></li>
  <% end %>
  <li><%= @blog.body %></li>
</ul>