<div class="container my-5">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-5 px-sm-0 mx-auto">
      <div class="d-flex justify-content-center">
        <h3 class="bg-light"><strong>会員一覧</strong></h3>
      </div>
      <div class="d-flex justify-content-end">
        <%= render 'admin/searches/search_customer' %>
      </div>
      <%= render 'admin/customers/index', customers: @customers %>

    </div>
  </div>
</div>

