<h1>todo_lists::index</h1>

<div><%= link_to "new", new_todo_content_path %></div>

<div>
  <% @todo_lists.each do |list| %>
    <ul>
      <li><%= link_to list.title, todo_list_path(list.id) %></li>
      <% list.todo_contents.each do |todo| %>
        <%= todo.content %>
      <% end %>
    </ul>
  <% end %>
</div>

