<div class="container my-5">
  <div class='row'>
    <div class="col-12 px-5 px-sm-0 mx-auto">
      <div class="d-flex justify-content-center">
        <h3 class="bg-light"><strong>生活記録</strong></h3>
      </div>
      <!--新規投稿時のエラー表示-->
      <div class="text-danger">
        <% if @life_cycle.errors.any? %>
          <span class="h6"><strong>投稿に失敗しました <%= @life_cycle.start_time.strftime("%Y-%m-%d") %></strong></span>
          <%= render 'public/shared/error_messages', resource: @life_cycle %>
        <% end %>
      </div>

      <div class="my-5">
        <%= month_calendar do |date| %>
          <%= link_to date.day, life_cycles_date_show_path(date), class:"btn btn-sm btn-outline-secondary rounded", "data-turbolinks": false %>

          <% if @life_cycles.where(start_time: date.all_day).present? %>
            <div class="text-center text-secondary h4" style="margin:2px 0;">
              <i class="fas fa-clipboard-list"></i>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
