<div class="container my-5">
  <div class='row'>
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">
      <div class="d-flex">
        <h3 class="bg-light"><strong>生活登録</strong></h3>
      </div>
      <%= render 'public/shared/error_messages', resource: @life_cycle %>
      <%= render 'public/life_cycles/form', life_cycle: @life_cycle %>
    </div>
  </div>
</div>


